.grid-image
  %h2.grid-image__title= @group.title
  - if admin_signed_in?
    = link_to "Editar grupo", edit_school_generation_group_path(@school, @generation, @group), class: "button button--add"

  - if @group.description
    %blockquote
      %p=  @group.description

  - @group.students.each do |photo|
    .grid-image__container{:href => "#"}
      = image_tag(photo.url, class: "grid-image__container__picture",  alt: photo.title, name: photo.title, face: photo.facebook, phone: photo.telephone, mail: photo.mail)
      .actions
        %p= link_to("Descargar", photo.url)
        - if current_admin
          %p= link_to("Editar", edit_school_generation_group_student_path(@school, @generation, @group, photo))

#myModal.modal
  %span.close ×
  %img#img.modal-content/
  #caption.modal-footer
    %h3#modal-name.modal-footer-title
    #caption-data.modal-footer-data
      %p#modal-face
      %p#modal-phone
      %p#modal-mail
