%section.jumbotron
  %h1 Generación 2017
  %h2 Grupo A
  %div.jumbotron_buttons
    %a.jumbotron_buttons-item Expandir
    %a.jumbotron_buttons-item Descargar

.events--relative
  .mosaicos
    %h2.mosaicos__title Alumnos
    .mosaico
      .mosaico__picture
        = image_tag("http://placepu.gs/500/300", alt: "No hay imagenes en esta colleción")
    .mosaico
      .mosaico__picture
        = image_tag("http://placepu.gs/500/300", alt: "No hay imagenes en esta colleción")
    .mosaico
      .mosaico__picture
        = image_tag("http://placepu.gs/500/300", alt: "No hay imagenes en esta colleción")

%a.btn{"data-popup-open" => "popup-1", :href => "#"}
  %img{:alt => "Imagen de prueba", :src => "http://placepu.gs/500/300"}/
.popup{"data-popup" => "popup-1"}
  %a.popup_close{"data-popup-close" => "popup-1", :href => "#"} x
  %img{:alt => "Imagen de prueba", :src => "http://placepu.gs/1500/900"}/
  .popup_inner
    %h2.popup_inner-title Juan Perez Dominguez
    .popup_inner-data
      %p F:Juanito Perez
      %p T:2224596831
      %p @ juan.perez@gmail.com

/
  .events--relative
    - if admin_signed_in?
      = link_to "Crear evento", new_event_path, class: "button button--add"
    - @events.each do |event|
      .mosaicos
        %h2.mosaicos__title= event.title
        - event.collections.each do |collection|
          .mosaico
            = link_to(collection) do
              .mosaico__picture
                - unless collection.photos.empty?
                  = image_tag(collection.photos.last.url, alt: collection.photos.first.title)
                - else
                  = image_tag("http://placepu.gs/500/300", alt: "No hay imagenes en esta colleción")
