.events-container
  = form_for([@school, @generation]) do |f|
    = label_tag("Nombre de la generaci贸n", nil, class: ["form__label"])
    = f.text_field :title, class: ["form__input--text"]
    = label_tag("Descripci贸n de la generaci贸n", nil, class: ["form__label"])
    = f.text_area :description, class: ["form__input--textarea"]
    = label_tag("Colecciones a incluir", nil, class: ["form__label"])
    = collection_check_boxes(:generation, :groups, @groups, :id, :title) do | b|
      - unless b.object.students.empty?
        = b.label(class: ["thumbnail"], style: "background-image: url('#{b.object.students.last.url}')") {b.check_box + content_tag(:p, b.text, class: 'thumbnail__title')}
      - else
        = b.label(class: ["thumbnail"], style: "background-image: url('http://placepu.gs/500/300')") {b.check_box + content_tag(:p, b.text, class: 'thumbnail__title')}

    = button_tag(type: 'submit', class: 'submit') do
      Crear generaci贸n
      %span.submit__icon
