- begin
  - image = ::DBX.get_temporary_link(@generation.dpath + "/logo.png")[1]
- rescue
  - image = image_url("cover.png")
.jumbotrons
  %section.jumbotron--blur{style: "background-image: radial-gradient(transparent,  transparent,  #000), url('#{image}')"}
  %section.jumbotron
    %h1= @generation.title

    - if @generation.description
      %blockquote
        %p{style: "color: #F0F0F0"}=  @generation.description

    %div.jumbotron_buttons
      = link_to "Descargar", image, class: ["jumbotron_buttons-item", "button--download"], style: "background-color: #FAFAFA"


.grid-image
  - if admin_signed_in?
    = link_to "Editar", edit_school_generation_path(@school, @generation), class: "button button--add"

.events--relative
  .mosaicos
    %h2.mosaicos__title Grupos

    - @generation.groups.each do |group|
      - begin
        - image = ::DBX.get_temporary_link(group.dpath + "/logo.png")[1]
      - rescue
        - image = image_url("cover.png")

      = link_to([@school, @generation, group]) do
        .mosaico
          .mosaico__picture{:href => school_generation_group_path(@school, @generation, group)}
            = image_tag(image, alt: group.description || "Foto grupal")
            %h3= group.title
