%section.jumbotron
  %h1= @generation.title
  %div.jumbotron_buttons
    %a.jumbotron_buttons-item{"data-popup-open" => "popup-generation", :href => "#"} Expandir
    %a.jumbotron_buttons-item Descargar


.grid-image
  - if admin_signed_in?
    = link_to "Agregar grupo", new_school_generation_group_path(@school, @generation), class: "button button--add"

.events--relative
  .mosaicos
    %h2.mosaicos__title Grupos
    - @generation.groups.each do |group|
      = link_to([@school, @generation, group]) do
        .mosaico
          .mosaico__picture{:href => school_generation_group_path(@school, @generation, group)}
            = image_tag("http://placepu.gs/500/300", alt: "No hay imagenes en esta colleción")
            %h3= group.title



.popup{"data-popup" => "popup-student"}
  %a.popup_close{"data-popup-close" => "popup-1", :href => "#"} x
  %a.popup-arrow.popup-arrow-previous{:href => "#"} <
  %a.popup-arrow.popup-arrow-next{:href => "#"} >
  %img.popup_image{:alt => "Imagen de prueba", :src => "http://placepu.gs/1500/900"}/
  .popup_inner
    %h2.popup_inner-title Juan Perez Dominguez
    .popup_inner-data
      %p F:Juanito Perez
      %p T:2224596831
      %p @ juan.perez@gmail.com

//Group student popup
.popup{"data-popup" => "popup-generation"}
  %a.popup_close{"data-popup-close" => "popup-2", :href => "#"} x
  %img.popup_image{:alt => "Imagen de prueba", :src => "http://placepu.gs/500/300"}/
  .popup_inner
    %h2.popup_inner-title Generación 2017