.schools-container
  = form_for @school, action: "create" do |f|
    .form_field
      = label_tag "Nombre de escuela", nil, class: ["form__label"], for: "school_title"
      = f.text_field :name, class: "form__input--text"

    .form_field
      = label_tag "URL del logotipo de la institución", nil, class: ["form__label"], for: "school_url"
      = f.text_field :url, class: "form__input--text"

    -# .form_field
      = label_tag "Pagina web de la escuela", nil, class: ["form__label"], for: "school_website"
      = f.text_field :website, class: "form__input--text"

    = button_tag(type: "submit", class: "submit") do
      Agregar escuela
      %span.submit__icon