%section.jumbotron{style: "background-image: linear-gradient(#161918, rgba(239, 234, 236, 0.1)), url(#{::DBX.get_temporary_link(@school.dpath + "/logo.png")[1]})"}
  %h1= @school.title
.grid-image
  - if admin_signed_in?
    = link_to "Editar escuela", edit_school_path(@school), class: "button button--add"

.events--relative
  .mosaicos
    %h2.mosaicos__title Generaciones
    - @school.generations.each do |generation|
      = link_to([@school, generation]) do
        .mosaico
          .mosaico__picture{:href => school_generation_path(generation)}
            = image_tag(::DBX.get_temporary_link(generation.dpath + "/logo.png")[1], alt: "No hay imagenes en esta colleción")
          %h2.mosaico__title= generation.title
