- begin
  - image = ::DBX.get_temporary_link(@school.dpath + "/logo.png")[1]
- rescue
  - image = image_url("cover.png")


.jumbotrons
  %section.jumbotron--blur{style: "background-image: radial-gradient(transparent,  transparent,  #000), url('#{image}')"}
  %section.jumbotron
    %h1= @school.title
    - if @school.description
      %blockquote
        %p=  @school.description

.grid-image
  - if admin_signed_in?
    = link_to "Editar escuela", edit_school_path(@school), class: "button button--add"

.events--relative
  .mosaicos
    %h2.mosaicos__title Generaciones
    - @school.generations.each do |generation|
      = link_to([@school, generation]) do
        .mosaico
          - begin
            - image= ::DBX.get_temporary_link(generation.dpath + "/logo.png")[1]
          - rescue
            - image = image_url("cover.png")
          
          .mosaico__picture{:href => school_generation_path(generation)}
            = image_tag(image, alt: "")
          %h2.mosaico__title= generation.title
